<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jedi</title>
</head>
<body>

<h1>New Jedi</h1>

<form th:action="@{/jedi}" th:object="${jedi}" method="post">
    <input type="text" name="name" th:field="*{name}" th:placeholder="Name"/> <br/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    <br/>

    <input type="text" name="lastname" th:field="*{lastname}" th:placeholder="Lastname"/> <br/>
    <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname Error</span>
    <br/>
    <button type="submit">Create a new Jedi</button>
</form>

<br>

<a th:href="@{/jedi}">Jedi</a>

</body>
</html>